.imagesave {
    background-color: #ffffff;
    height: 176px;
    width: 538px;
    background: #ffffff;
}


#Nombre_Firmante {
    margin: 0px;
    font-size: 14px;
    font-family: cursive;
    color: #fdfdfd;
    text-align: right;
}

.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima {
    position: absolute;
    top: 64px;
    left: 256px;
}


#P_Cargo_Firmante {
    margin: 0px;
    font-size: 12px;
    font-family: cursive;
    text-align: right;
    color: #fdfdfd;
}

#correo_coorporativo {
    margin: 0px;
    font-size: 12px;
    font-family: cursive;
    text-align: right;
    color: #fdfdfd;
}

#pbx_celular {
    margin: 0px;
    color: #040404;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Roboto Thin',arial;
    text-align: right;
}
